.demands {
  padding: 100px 0 70px;

  &-list {
    display: flex;
    flex-flow: row wrap;
  }

  &-list__item {
    margin-top: 30px;
    margin-bottom: 15px;
    flex: 0 0 50%;

    display: flex;
    flex-flow: column nowrap;

    &:last-child {
      margin-bottom: 0;
    }

    &--1 .demands-list__icon {
      background: url('../images/demand-1.svg') no-repeat center center / contain;
      height: 32px;
      width: 32px;
    }

    &--2 .demands-list__icon {
      background: url('../images/demand-2.svg') no-repeat center center / contain;
      height: 32px;
      width: 28px;
    }

    &--3 .demands-list__icon {
      background: url('../images/demand-3.svg') no-repeat center center / contain;
      height: 32px;
      width: 26px;
    }
  }

  &-list__text {
    margin-top: 15px;

    font-size: 16px;
    color: #30292F;
    letter-spacing: 0.57px;
  }
}


@media (max-width: 700px) {
  .demands {
    padding: 60px 0 70px;

    &-list {
      display: block;
    }

    &-list__item {
      margin-top: 30px;
    }
  }
}
