.footer {
  padding: 20px 0 20px;
  background: #03A9F4;
  color: #fff;
  font-size: 12px;

  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &-socials {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  &-socials__item {
    height: 25px;
    width: 25px;

    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &--fb {
      background: url('../images/fb.svg') no-repeat center center / contain;
    }

    &--vk {
      background: url('../images/vk.svg') no-repeat center center / contain;
    }

    &--ig {
      background: url('../images/ig.png') no-repeat center center / contain;
    }
  }
}
