.line {
  padding: 82px 0;

  background: url('../images/line-bg.jpg') no-repeat center center / cover;

  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.64px;
  line-height: 29px;

  .container {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .line {
    font-size: 16px;
  }
}
