.test {
  background-image: linear-gradient(-225deg, #5C6BC0 0%, #3F51B5 100%);
  padding: 100px 0;

  .container {
    text-align: center;
  }

  &__title {
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0.71px;
  }

  &__arrows {
    background: url('../images/arrows.svg') no-repeat center center / contain;
    height: 8px;
    width: 100%;
    max-width: 566px;

    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
  }

  &-list {
    position: relative;

    margin-top: 60px;
    margin-bottom: 50px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &-list__item {
    // flex: 0 0 25%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    &--1 .test-list__icon {
      background: url('../images/test-1.svg') no-repeat center center / contain;
      height: 52px;
      width: 51px;
    }

    &--2 .test-list__icon {
      background: url('../images/test-2.svg') no-repeat center center / contain;
      height: 52px;
      width: 52px;
    }

    &--3 .test-list__icon {
      background: url('../images/test-3.svg') no-repeat center center / contain;
      height: 52px;
      width: 40px;
    }

    &--4 .test-list__icon {
      background: url('../images/test-4.svg') no-repeat center center / contain;
      height: 52px;
      width: 50px;
    }
  }

  &-list__title {
    margin-top: 15px;

    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.64px;
  }

  &-list__text {
    margin-top: 5px;

    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.49px;
  }

  &__link {
    margin-top: 30px;

    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0.42px;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

@media (max-width: 850px) {
  .test {
    &__arrows {
      display: none;
    }

    &-list {
      flex-flow: row wrap;
    }

    &-list__item {
      flex: 0 0 50%;

      margin-bottom: 50px;
    }

    .button {
      margin-top: -50px;
    }
  }
}

@media (max-width: 700px) {
  .test {
    padding: 60px 0;

    &-list {
      display: block;
    }

    &__title {
      font-size: 16px;
    }

    .button {
      margin-top: 0px;
    }
  }
}
