doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  .head
    .container.head-menu
      .head__logo
      .head-nav
        a.head-nav__item(href="#we")
          | Мы предлагаем
        a.head-nav__item(href="#target")
          | Цель
        a.head-nav__item(href="#demands")
          | Требования
        a.head-nav__item(href="#test")
          | Этапы отбора

    .container.head-wrapper
      .head__title
        | Mars объявляет конкурс на позицию:
        br
        span «Эксперт по развитию территории»
      .head__subtitle
        | Начни свою карьеру в продажах, передовой и самой динамичной команде в крупнейшей семейной компании в мире.
      a.button(href="#")
        | Откликнуться на вакансию

    .head__arrow

  .features#we
    .container
      .title.features__title
        | Мы предлагаем:

      .features-list
        .features-list__item.features-list__item--1
          .features-list__image
          .features-list__text
            | Конкурентоспособная заработная плата;
            br
            | Система бонусов
        .features-list__item.features-list__item--2
          .features-list__image
          .features-list__text
            | Корпоративный
            br
            | автомобиль
        .features-list__item.features-list__item--3
          .features-list__image
          .features-list__text
            | Расширенный
            br
            | социальный пакет
      .features-list.features-list--2
        .features-list__item.features-list__item--4
          .features-list__image
          .features-list__text
            | Мобильная связь
            br
            | и портативный компьютер
        .features-list__item.features-list__item--5
          .features-list__image
          .features-list__text
            | Обучение и возможности
            br
            | для развития

  .line#target
    .container
      | Начни свою карьеру в продажах, передовой и самой динамичной команде в крупнейшей семейной компании в мире

  .role
    .container
      .title
        | На данной роли тебе предстоит:
      .role__text
        | Консультировать сотрудников дистрибутора по вопросам набора, тренинга, мотивации и работы команды отдела продаж;
      .role__text
        | Проводить полевые аудиты и индивидуальные тренинги для торговой команды;
      .role__text
        | Контролировать финансовые ресурсы (инвестиции в развитие продаж, инвестиции в команду дистрибьютора, инвестиции в оборудование);
      .role__text
        | Участвовать в запуске новых продуктов и реализовывать план активностей;
      .role__text
        | Разрабатывать и согласовывать план развития территории и увеличения объемов продаж;
      .role__text
        | Вести переговоры с клиентами и контролировать выполнение договоренностей;
      .role__text
        | Устанавливать долгосрочные деловые отношения с клиентами;
      .role__text
        | Внедрять системы измерения эффективности работы для команды отдела продаж;
      .role__text
        | Контролировать хранение и размещение дистрибьютором продукции и рекламного оборудования;
      .role__text
        | Контролировать логистические процессы на территории;
      .role__text
        | Проводить комплексный анализ целевых показателей для поиска новых возможностей на территории.

  .brands

  .demands#demands
    .container
      .title
        | Требования:
      .demands-list
        .demands-list__item.demands-list__item--1
          .demands-list__icon
          .demands-list__text
            | Высшее образование
        .demands-list__item.demands-list__item--2
          .demands-list__icon
          .demands-list__text
            | Уверенное владение Excel
        .demands-list__item.demands-list__item--3
          .demands-list__icon
          .demands-list__text
            | Водительское удостоверение

  .candidate
    .container
      .title
        | От успешного кандидата мы ждем:
      .candidate-list
        .candidate-list__text
          | * Опыт лидирования команд/проектов;
        .candidate-list__text
          | * Готовность к динамичной работе;
        .candidate-list__text
          | * Желание работать в вовлеченной и амбициозной команде.

  .test#test
    .container
      .test__title
        | Если ты соответствуешь нашим требованиям и хочешь стать частью команды, то мы предлагаем тебе пройти небольшой путь:
      .test-list
        .test__arrows
        .test-list__item.test-list__item--1
          .test-list__icon
          .test-list__title
            | Отбор по резюме
          .test-list__text
            | Поздравляем,
            br
            | Ты его прошел!
        .test-list__item.test-list__item--2
          .test-list__icon
          .test-list__title
            | Онлайн-тестирование
          .test-list__text
            | Понадобятся до 40 минут
            br
            | твоего времени в любом
            br
            | удобном для тебя месте
        .test-list__item.test-list__item--3
          .test-list__icon
          .test-list__title
            | Онлайн-интервью
          .test-list__text
            | Будь готов ответить
            br
            | на вопросы по своему
            br
            | профессиональному опыту
        .test-list__item.test-list__item--4
          .test-list__icon
          .test-list__title
            | Знакомство в офисе
          .test-list__text
            | В случае успеха с тобой
            br
            | свяжутся наши специалисты.

      a.button(href="#")
        | Откликнуться на вакансию

      .test__link
        | Подробнее об отделе продаж ты можешь узнать на сайте <a href="http://mars-sales.ru/">http://mars-sales.ru/</a>

  .footer
    .container
      .footer-info
        //- .footer-nav
        //-   a.footer-nav__item(href="#")
        //-     | Конфиденциальность
        //-   a.footer-nav__item(href="#")
        //-     | Права
        //-   a.footer-nav__item(href="#")
        //-     | Владелец сайта
        //-   a.footer-nav__item(href="#")
        //-     | Your Personal Choiches
        //-   a.footer-nav__item(href="#")
        //-     | Mars Alumni
        //-   a.footer-nav__item(href="#")
        //-     | Supply Chain Transparency
        //-   a.footer-nav__item(href="#")
        //-     | Связаться с нами

        .footer-copy
          | © 2016 Марс и его филиалы. Все права защищены.

      .footer-socials
        a.footer-socials__item.footer-socials__item--fb(href="https://www.facebook.com/mars.cis" target="_blank")
        a.footer-socials__item.footer-socials__item--vk(href="https://vk.com/mars_cis" target="_blank")
        a.footer-socials__item.footer-socials__item--ig(href="https://www.instagram.com/mars_russia/" target="_blank")
