.button {
  display: inline-block;
  border: 1px #fff solid;
  border-radius: 4px;

  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.57px;

  padding: 14px 16px;

  user-select: none;
  cursor: pointer;

  transition: background 0.2s ease, color 0.2s ease;
  will-change: background, color;

  &:hover {
    background: #fff;
    color: #000;
  }
}
